<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>TIM BERNERS-LEE</title>
</head>
<body>
    <div class="contenedor">
        <h1>TIM BERNERS-LEE</h1>
        <div class="info-flex">
            <div class="img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6E5IFOaSaB_7L7zt4z2VF1ZuoZQ1BxR524g&s" alt="Tim Berners-Lee">
            </div>
            <div class="historia">
                <h3>HISTORIA</h3>
                <p>
                    Sir Timothy John Berners-Lee (Londres, 8 de junio de 1955) es un científico de la computación británico, conocido por ser el inventor de la World Wide Web. En 1989, mientras trabajaba en el CERN, propuso un sistema de gestión de información que se convertiría en la web. Desarrolló el primer navegador y editor web, así como el primer servidor web. Su trabajo revolucionó la forma en que la información es compartida y accedida en todo el mundo, permitiendo el desarrollo de Internet tal como la conocemos hoy.
                </p>
            </div>
        </div>
    </div>
</body>
</html>