<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>CLARKE</title>
</head>
<body>
    <div class="contenedor">
        <h1>CLARKE</h1>
        <div class="info-flex">
            <div class="img">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Arthur_C._Clarke_1965_%28cropped%29.jpg/250px-Arthur_C._Clarke_1965_%28cropped%29.jpg" alt="Arthur C. Clarke">
            </div>
            <div class="historia">
                <h3>HISTORIA</h3>
                <p>
                Arthur Charles Clarke (Minehead, Inglaterra; 16 de diciembre de 1917-Colombo, Sri Lanka; 19 de marzo de 2008), más conocido como Arthur C. Clarke, fue un escritor y científico británico, autor de obras de divulgación científica y de ciencia ficción como 2001: Una odisea del espacio, El centinela o Cita con Rama, así como coguionista de la película 2001: Una odisea del espacio, basada en su novela homónima.
                </p>
            </div>
        </div>
    </div>
</body>
</html>